// _article.scss

.wrapper {
  margin: 0 18px;
}

.article {
  position: relative;
  left: 246px;
  margin: 1rem 0 0 2rem;
  padding-bottom: 2em;
  padding: 1em;
  background: $greige-70;
  h2 {
    font: 2em/1 $font-stack-serif;
  }
  p {
    margin-bottom: 1rem;
  }

  aside {
    h3 {
      border-top: 7px solid black;
      padding-top: 1rem;
      margin-bottom: 0;
      font: 1.1em/1 $font-stack-serif;
    }
    img {
      padding-top: 1rem;
      margin-left: 1.5rem;
      display: block;
      float: right;
    }
    p {
      margin-top: 0.75rem;
      margin-bottom: 1rem;
      font-size: 0.95em;
      line-height: 1.5;
      margin-left: 0;
    }
    .pullquote {
      font: 1.2222em/1.5 $font-stack-serif;
      border-top: 7px solid black;
      padding-top: 1rem;
      text-align: center;
      margin-bottom: 0.5rem;
    }
    @include clearfix;
  }
}
