// _jumbo.scss

.jumbo {
  background: url('../images/tipping-point-jumbo-bg.jpg') no-repeat center;
  height: 360px;
  font: 1rem/1.1 $font-stack-serif;
  color: $greige;
  position: relative;
  margin: 0 auto;
  h2 {
    margin: 0;
    width: 100%;
    padding: 0 1em;
    text-align: center;
    position: absolute;
    letter-spacing: 3px;
    bottom: 2rem;
    span {
      font-size: 1.7em;
      text-transform: initial;
      margin-top: .5rem;
      display: block;
    }
  }
}
