// _page-header.scss

.page-header {
  width: 100%;
  padding: 0 32px;
  background: $greige url("../images/header-shadow.jpg") no-repeat bottom center;
  @include clearfix;
  a {
    text-decoration: none;
  }
  h1 {
    margin: 0;
    padding: 1em 0 0.5em 0;
    font: 1.55em/1 $font-stack-serif;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    a {
      color: $fuscous-grey;
    }
  }
  nav {
    padding-top: 1.65em;
    float: right;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        position: relative;
        display: inline-block;
        margin-left: 1em;
        a {
          color: $camel;
          text-transform: uppercase;
          font-size: 0.7777em;
          padding: 0 1em;
        }
        &:hover ul {
          display: initial;
        }
      }
      ul {
        display: none;
        position: absolute;
        left: 0;
        top: 1.5em;
        z-index: 1;
        padding: 0;
        width: 11em;
        li {
          width: 100%;
          margin: 0;
          background: $greige;
          &:first-child {
            padding-top: 0.5em;
          }
          a {
            color: $camel;
            text-transform: initial;
            display: block;
            width: 100%;
            height: 100%;
            padding: 0.75em 0 0.75em 1em;
            &:hover {
              color: $white;
              background: $camel;
            }
          }
        }
      }
    }
  }
}
