// _page-footer.scss

.page-footer {
  padding: 0 32px;
  font-size: .7222em;
  font-weight: 400;
  background: $greige;
  p {
    display: inline-block;
    margin-right: 5em;
  }
  a {
    text-decoration: none;
    color: $camel;
    &:hover {
      color: $fuscous-grey;
    }
  }
  ul {
    margin: 0.3em 0 0 0;
    float: right;
    text-align: right;
    list-style-type: none;
    font-size: 1.4rem;
    float: right;
    li {
      display: inline-block;
      margin-left: .75em;
    }
  }
}
