// _period-img.scss

.period-img {
  margin-top: 1.3333em;
  font: 1rem/1 $font-stack-serif;
  color: $camel;
  text-align: center;
  h3 {
    border-top: 1px solid $camel;
    letter-spacing: 1px;
    padding-top: 1.5em;
    margin: 0;
  }
  p {
    font-size: .8888em;
    margin-top: .75em;
  }
  img {
    padding-top: .8em;
    display: block;
  }
}

.timeline-nav {
  article:last-of-type {
    position: relative;
    q {
      font-size: 1.5rem;
      text-align: left;
      color: $white;
      quotes: none;
      position: absolute;
      bottom: 2.5em;
      right: 1em;
      span:first-of-type {
        display: block;
        font-size: 5.5555rem;
        position: relative;
        right: 2.5rem;
        top: 4.5rem;
      }
      span:last-of-type {
        display: block;
      }
    }
  }
}
