// _period-img.scss

.period-img {
  margin-top: 1.3333em;
  font: 1rem/1 $font-stack-serif;
  color: $fuscous-grey;
  text-align: center;
  h3 {
    border-top: 1px solid $camel;
    letter-spacing: 1px;
    padding-top: 1.5em;
    margin: 0;
  }
  p {
    font-size: 1em;
    margin-top: 0.75em;
  }
  img {
    padding-top: 0.8em;
    display: block;
  }
}

.timeline-nav {
  margin: 0 auto;
  position: relative;
  @include clearfix;
  h2 {
    @include visuallyhidden;
  }
  &>img {
    position: absolute;
    display: table;
    clear: both;
    top: 25em;
  }
  article:last-of-type {
    position: relative;
    .overlay {
      top: 26.8em;
    }
    ul {
      height: 130.359px;
      li {
        height: 100%;
        a {
          padding-top: 2em;
          font: 1.75em/1 $font-stack-serif;
          font-style: italic;
        }
      }
    }
    q {
      font-size: 1.5rem;
      text-align: left;
      color: $white;
      quotes: none;
      position: absolute;
      bottom: 6.5em;
      right: 1em;
      span:first-of-type {
        display: block;
        font-size: 5.5555rem;
        position: relative;
        right: 2.5rem;
        top: 4.5rem;
      }
      span:last-of-type {
        display: block;
      }
    }
  }
}

.overlay {
  position: absolute;
  width: 222px;
  height: 15px;
  top: 28.1em;
  z-index: 99;
}
