// _period-left-nav.scss

.period-left-nav {
  top: 190px;
  font: 1rem/1 $font-stack-serif;
  color: $fuscous-grey;
  text-align: center;
  position: fixed;
  img {
    display: block;
    &:first-of-type {
      padding-top: 0.8em;
    }
    &:last-of-type {
      position: absolute;
      bottom: 7.7em;
    }
  }
  h3 {
    border-top: 1px solid $camel;
    letter-spacing: 1px;
    padding-top: 1.5em;
    margin: 2em 0 0.75em 0;
  }
  p {
    font-size: 1em;
    margin-top: 0.75em;
  }
}
