// _variables.scss

$white: #fff;
$black: #444;
$grey: #eee;

// Fonts
$font-stack-sans: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
$font-stack-serif: 'Big Caslon', Georgia, serif;

// Colors
$fuscous-grey: #3d393e;
$camel: #c0936c;
$greige: #f9f8f7;
$greige-70: rgba(249,248,247, 0.7);
